@if (alert_mdl!.isShowAlert) {
<div class="container-overlay">
 <div class="alert-container {{alert_mdl!.statusType}}">
  <div class="alert-header">
   <h2>{{alert_mdl!.title}}</h2>
  </div>
  <div class="alert-body">
   <p>{{alert_mdl!.message}}</p>
  </div>
  <div class="alert-footer">
   @if (alert_mdl!.type==2) {
   <button class="btn btn-secondary" (click)="onClickAction(2)">Cancel</button>
   }
   <button class="btn btn-primary" (click)="onClickAction(1)">Ok</button>
  </div>
 </div>
</div>
}