<div class="login-container">
 <div class="col-xs-12 col-xl-4">
  <div class="card default" @fade>
   <div class="card-header pb-0">
    <h2 class="text-black text-center">Sign Up</h2>
    <i class="fa-solid fa-circle-xmark fa-xl closer" (click)="toLogin()"></i>
   </div>
   <div class="card-body">
    <div class="d-flex flex-column row-gap-2">
     <div class="col-xs-12 d-flex justify-space-between p-0">
      <div class="col-xs-6 pl-0">
       <lib-text-field [tf_mdl]="tf_firstname"></lib-text-field>
      </div>
      <div class="col-xs-6 pr-0">
       <lib-text-field [tf_mdl]="tf_lastname"></lib-text-field>
      </div>
     </div>
     <lib-text-field [tf_mdl]="tf_email"></lib-text-field>
     <lib-text-field [tf_mdl]="tf_mobile"></lib-text-field>
     <lib-text-field [tf_mdl]="tf_password"></lib-text-field>
     <lib-text-field [tf_mdl]="tf_confirm_password"></lib-text-field>
     <lib-button [btn_mdl]="btn_register" (eventHandler)="eventHandler($event)"></lib-button>
    </div>
   </div>
  </div>
 </div>
</div>