$cg-grey:#999;
$cg-grey-primary: #ccc;
$cg-white:#fff;
$cg-grey-lighten: #f4f4f4;
$cg-grey-primary-lighten: #f0f0f0;
$cg-grey-secondary: #e8e8e8;
$cg-blue-primary: #082032;
$cg-red:#ff0000;
$cg-black-primary: #333;

.custom-dropdown-container {
 display: flex;
 flex-direction: column;
 width: 100%;
 .form-label {
  font-size: .6rem;
  margin-bottom: .3rem;
  color: $cg-black-primary;
  .mandatory {
   color: $cg-red;
  }
 }

 .custom-dropdown {
  position: relative;
  width: 100%;

  .dropdown-header {
   width: 100%;
   font-size: .6rem;
   padding: 0.4rem 0.6rem;
   border: 1px solid $cg-grey-primary;
   background: $cg-white;
   cursor: pointer;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   overflow: hidden;
   white-space: nowrap;
   &.disabled {
    color: $cg-grey;
    background: $cg-grey-lighten;
    cursor: not-allowed;
   }
  }

  .dropdown-menu {
   position: absolute;
   width: 100%;
   background: $cg-white;
   border: 1px solid $cg-grey-primary;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
   max-height: 200px;
   overflow-y: auto;
   z-index: 1000;
   padding: 0;
   margin: 0;
   list-style: none;

   li {
    font-size: .6rem;
    color: $cg-blue-primary;
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    &.option:hover {
     background: $cg-grey-primary-lighten;
    }
   }
   .header-option {
    font-size: .6rem;
    font-weight: bold;
    cursor: default;
    background: $cg-grey-secondary;
   }
   .disabled-option {
    color: $cg-grey;
    pointer-events: none;
   }
  }
 }
}