@if (dd_model) {
<div class="custom-dropdown-container custom-close">
 <!-- Label -->
 @if (dd_model!['labelText']) {
 <label class="form-label">
  {{ dd_model!['labelText'] }}
  @if (dd_model!['isMandatory']) {
  <span class="mandatory">*</span>
  }
 </label>
 }

 <div class="custom-dropdown">
  <div class="dropdown-header" [ngClass]="{ 'disabled':dd_model!.isDisabled}" (click)="toggleDropdown()">
   {{ dd_model.selectedObj[dd_model['displayKey']] || 'Select' }}
   <i class="fa fa-angle-down"></i>
  </div>

  @if (isDropdownOpen) {
  <ul class="dropdown-menu">
   @if (!dd_model!['placeholderText']) {
   <li class="dropdown-placeholder" (click)="selectItem(-1)">
    {{ "Select"}}
   </li>
   }@else{
   <li class="dropdown-placeholder" (click)="selectItem(-2)">
    {{ dd_model!['placeholderText'] }}
   </li>
   }

   @for (item of dd_model!['dataArr']; track $index;let i = $index;) {
   <!-- Check if item is a header -->
   @if (item['header_name']) {
   <li class="header-option">
    <div>{{ item['header_name'] }}</div>
   </li>
   }
   <!-- Display item -->
   <li class="option"
    [ngClass]="{ 'disabled-option': i > dd_model!['maxSelectableOptions'] || i < dd_model!['minSelectableOptions'] }"
    (click)="selectItem(item)">
    {{ item[dd_model!['displayKey']] }}
   </li>
   }
  </ul>
  }
 </div>
</div>
}