@if (toast_mdl!.isShow) {
<div class="outer-toast-overlay {{toast_mdl!.position}}">
 <div class="toast-alert-container {{toast_mdl!.type}}">
  @if (toast_mdl!.title) {
  <div class="toast-header">
   <h6 class="toast-title">{{toast_mdl!.title}}</h6>
  </div>
  }
  <div class="toast-body">
   <p class="toast-message">{{ toast_mdl!.message }}</p>
   @if (toast_mdl!.showClose) {
   <div class="close-container">
    <i class="fa-solid fa-xmark" (click)="hideToastAlert()"></i>
   </div>
   }
  </div>
 </div>
</div>
}